.contact{
    display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 150px;
        margin-top: 50px;
        
}

.contact-item{
display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.contact-heading{
    margin-left: 100px;
}

/* .label{

} */

/* .value{
 margin-top: 5px;
} */