.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the slider horizontally */
}

.image-slider img {
    max-width: 60%;
    height: auto;
    margin: 20px ;
}

.arrow-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 10px;
}

.arrow-button:hover {
    color: #555;
}