.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the slider horizontally */
}

.image-slider img {
    max-width: 60%;
    height: auto;
    margin: 0 10px;
}

.image-slider button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.image-slider button:hover {
    background-color: #aaa;
}