.projects-page {
    padding: 20px;
    text-align: center;
}

.projects-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.projects-page p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}